$heading1: 50px;
$heading2: 42px;
$heading3: 34px;

$padsHeading: 25px;
$mobileHeading: 26px;


$fontsize: 19px;

$darlpurple: #18002a;

$darkgrey: #32243b;

$lightpurple: #7A82CE;



$blue: #010FDB;

$grey: #B5B9C6;

$lightgrey:#251f33;

$background:#ffffff;

$whiteColor:#FFFF;

$btncolor: #385cff;

